 
 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



html {
  box-sizing: border-box;
}


img {
max-width: 100%;
}

.nav-grid {
	display: grid;
	grid-column-gap: 50px;
	grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
	line-height: 100px;
}

.grid-item a {
	color: Grey;
	text-decoration: none;
	line-height: 30px;
	width: 100%;

}

.grid-item-logo a:hover {
	box-shadow: 20px 20px 20px 10px #d9d9d9;
	
	
}

.grid-item a:hover {
	border-bottom: 1px solid black;
	color: black;
	font-weight: bold;
}

.search-bar {
	background-color: lightgrey;
	color: white;
	font-family: Verdana;
	text-align: center;
	border: 1px solid grey;
	border-radius: 15px;
	Width: 80%;
	margin: auto;

}

.search-bar a {
	text-decoration: none;
	color: white;
}

header {
	background-image: url(../images/header.png);
	background-position: center;
	background-size: contain;
	min-height: 413px;
	max-width: 100%;
	background-repeat: no-repeat;
	color: white;
	margin: 2% 1% 1% 1%;
	
}

header h2 {
	color: white;
	font-size: 20px;
	font-family: verdana;
	
} 

header p a{
	color: white;
	text-decoration: none;
	
}

header a:hover {
	border-bottom: 1px solid white;
	color: white;
	font-weight: bold;
}

.category-grid p a{
	color: white;
	text-decoration: none;
	
}

.category-grid a:hover {
	border-bottom: 1px solid white;
	color: white;
	font-weight: bold;
}

.category-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: auto;
	width: 50%;
	padding: 1% 2% 4% 1%;
	margin: auto;
	
}

.category-item {
	margin: 1%;
}

.category-item a {
	color: darkgrey;
	text-decoration: none;
	
}

.category-item a:hover {
	border-bottom: 1px solid lightgrey;
	color: grey;
	font-weight: bold;
}


.CTA a {
	margin: 3%;
}
	
.category p{
	width: 50%;
	margin: auto;
	border-bottom: 2px solid lightgrey;
	padding-bottom: 2%;
}

.designers-item {
		margin: 1%;
}

.designers-item a {
	color: darkgrey;
	text-decoration: none;
	
}

.designers-item a:hover {
	border-bottom: 1px solid lightgrey;
	color: grey;
	font-weight: bold;
}

.trending-item {
	margin: 1%;
}
	
.category-grid p {
	text-decoration: none;
	color: grey;
	font-family: verdana;
	text-align: center;
	padding: 2%;
	
}
	

h2 {
	font-size: 30px;
	text-decoration: none;
	color: grey;
	font-family: verdana;
	text-align: center;
	padding: 2%;
}

h2 a {
	text-decoration: none;
	color: grey;
}

h2 a:hover {
	font-weight: bold;
	border-bottom: 1px solid grey;
	
}


.designers {
	padding-top: 2%;
	margin-bottom: 2%;
	
}

.designers p {
	margin-bottom: 2%;
}

.trending p {
	margin-bottom: 2%;
}

.social p {
	margin-bottom: 2%;
}

.designers-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: auto;
	width: 50%;
	padding: 1% 2% 4% 1%;
	margin: auto;

}


.trending-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: auto;
	width: 50%;
	padding: 1% 2% 4% 1%;
	margin: auto;
	

}

h3 {
	font-family: verdana;
	font-size: 20px;
	color: grey;
	padding: 2%
}

h3 a {
	text-decoration: none;
	color: grey;
}

h3 a:hover{
	font-weight: bold;
	border-bottom: 1px solid lightgrey;
}

.social {
	padding: 1% 3% 2% 5%;
	text-align: center;
	border-bottom: 2px solid #F0F0F0;
	background-color: #F0F0F0;
}

.social a {
	padding: 1% 1% 0% 1%;
}

.icons a{
	text-decoration: none;
	color: grey;
	padding: 1% 1% 1% 1%;
	
}
.icons a:hover{
	font-weight: bold;
	border-bottom: 1px solid lightgrey;
}



p {
	font-size: 20px;
	text-decoration: none;
	color: grey;
	font-family: verdana;
	text-align: center;
	padding: 0% 1% 0% 1%;
}

p a {
	text-decoration: none;
	color: grey;
}

p a:hover {
	font-weight: bold;
	border-bottom: 1px solid grey;
}

ul{
	margin: 2%;
}

.mens {
	background-image: url(../images/mens-header.png);
	background-position: contain;
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 80%;
	color: darkgrey;
	margin: auto;
	
}

.womens {
	background-image: url(../images/womens-header.png);
	background-position: center;
	width: 70%;
	background-repeat: no-repeat;
	background-size: cover;
	color: darkgrey;
	margin: auto;
	
}

.rayban {
	background-image: url(../images/rayban-header.png);
	background-position: center;
	width: 70%;
	background-repeat: no-repeat;
	background-size: cover;
	color: darkgrey;
	margin: auto;
	
}

.chanel {
	background-image: url(../images/chanel-header.png);
	background-position: center;
	width: 70%;
	background-repeat: no-repeat;
	background-size: cover;
	color: darkgrey;
	margin: auto;
	min-height: 500px;
	
}

.oakley {
	background-image: url(../images/oakley-header.png);
	background-position: center;
	width: 70%;
	background-repeat: no-repeat;
	background-size: cover;
	color: darkgrey;
	margin: auto;
	min-height: 500px;
	
}

.wayfair {
	margin: auto;
	width: 60%;
	
}

.wayfair h3 {
	padding-left: 45%;
	text-align: centre;
	font-size: 20px;
	font-weight: bold;
	
}

.wayfair button {
	background-color: lightgrey;
	color: white;
	font-family: Verdana;
	text-align: center;
	line-height: 30px;
	border: 1px solid grey;
	border-radius: 15px;
	Width: 30%;
	margin-left: 35%;
	margin-bottom: 2%;
}

.wayfair button a {
	text-decoration: none;
	color: white;
	font-size: 15px;
	
}

.wayfair button:hover {
	color: white;
	font-weight: bold;
	font-size: 22px;

}
	
	
header h2 {
	color: white;
	font-size: 20px;
	font-family: verdana;
	
} 

header p a{
	color: white;
	text-decoration: none;
	
}

header a:hover {
	border-bottom: 1px solid white;
	color: white;
	font-weight: bold;
}


.nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	line-height: 70px;
}

.nav li {
	flex:1;
	text-align:center;
}
.nav li.logo {
	flex:1;
	text-align:center;
	
}

.nav li a {
	display:block;
	cursor: pointer;
	text-decoration: none;
	font-size: 22px;
	color: grey;
}

.nav li a:hover {
	font-weight: bold;
	border-bottom: 1px solid lightgrey;
	background-color: #e6e6e6;
	color: white;
	border-radius: 30px;
}

.nav li.logo a:hover{

	background-color: white;
	border-bottom: none;
	transform: scale(1.3)
	
}


.footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	line-height: 70px;
}


.footer li {
	flex:1;
	text-align:center;
}
.footer li.footer-logo {
	flex:2;
	text-align:center;
	
}

.footer li a {
	display:block;
	cursor: pointer;
	text-decoration: none;
	font-size: 12px;
	color: grey;
}

.footer li a:hover {
	font-weight: bold;
	border-bottom: 1px solid lightgrey;
	background-color: #e6e6e6;
	color: white;
	border-radius: 30px;
}

.footer li.footer-logo a:hover{

	background-color: white;
	border-bottom: none;
	transform: scale(1.2);
}











